[Unit]
Description="headless-shell build daily at 2:05am"

[Timer]
OnCalendar=*-*-* 02:05:00
Unit=headless-shell.service

[Install]
WantedBy=timers.target
