[Unit]
Description="build headless-shell"
OnFailure=headless-shell-failure.service

[Service]
Type=oneshot
ExecStart=%h/src/headless-shell/build.sh --jobs 14 --push
