[Unit]
Description="headless-shell build daily at 2:15am"

[Timer]
OnCalendar=*-*-* 02:15:00
Unit=headless-shell.service

[Install]
WantedBy=multi-user.target
